<launch>
  <!-- map server -->
	<arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    
      <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>
	
	<!-- amcl node -->
	<node name="amcl" pkg="amcl" type="amcl" output="screen">
	  <param name="odom_frame_id" value="odom"/>
	  <param name="odom_model_type" value="diff-corrected"/>
	  <param name="base_frame_id" value="robot_footprint"/>
	  <param name="global_frame_id" value="map"/>
	  
      <!-- overall filter params -->
      <param name="min_particles" value="100" />
	  <param name="max_particles" value="600"/>
      <param name="initial_pose_x" value="-5"/>
	  <param name="initial_pose_y" value="-5"/>
	  <param name="initial_pose_a" value="0"/>
	  <param name="update_min_d" value="0.01"/>
	  <param name="update_min_a" value="0.01"/>
      <param name="recovery_alpha_slow " value="0.001" />
      <param name="recovery_alpha_fast" value="0.1" />
      
      <!-- overall filter params -->
      <param name = "laser_z_hit" value = "0.9" />
      <param name = "laser_z_rand" value = "0.1" />
      <param name = "laser_max_range" value = "-1" />
      
	</node>
	
	<!-- move base node -->
	<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
      <param name="base_global_planner" value="navfn/NavfnROS"/>
	  <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->
	  <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
	  <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
	  <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
	  <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load"/>
	  <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load"/>
	  <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load"/>
      <rosparam file="$(find my_robot)/config/base_global_planner_params.yaml" command="load"/>
	</node>

</launch>